*.db
*.log
*.sqlite3
*.swp
*.txt
tags

.xmonad/xmonad-*
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/history

dwm/dwm
dwm/dwm.o
.vim/.netrwhist
.vim/bundle
.vim/plugins
.vim/sessions
.xmonad/STATUSBAR
.xmonad/STOCK

.vim/gdbmgr/src/gdbmgr.o
.vim/gdbmgr/src/gdbmgr.so
.vim/gdbmgr/progs
.vim/session
/secret_files/
*#
*pyc

flycheck-settings.el
/files/emacs/personal/flycheck-packages.el
