[user]
  email = wosmvp@gmail.com
  name = wosmvp
[color]
  ui = auto
[apply]
  whitespace = nowarn
[alias]
  co = checkout
  ci = commit
  di = diff
  st = status
  br = branch
  mg = merge
[mirror]
  summary = true
[apply]
  whitespace = strip
[diff]
  color = auto
  rename = copy
[pager]
  color = true
[status]
  color = auto
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = blue bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
