#!/bin/sh

xbindkeys &

# Go autocomplete
export GOROOT="/usr/lib/go/"
export GOPATH="/jinzhu/Projects/Lab/go"
gocode &
fcitx &

# emacs --daemon
emacs --daemon --with-x-toolkit=lucid &

# export GTK_IM_MODULE=ibus
# export XMODIFIERS=@im=ibus
# export QT_IM_MODULE=ibus
# killall ibus-daemon
# ibus-daemon --xim -d

[ -f ~/.xsession ] && source ~/.xsession

xsetroot -cursor_name left_ptr
