TCPKeepAlive yes
ServerAliveInterval 15
ServerAliveCountMax 6
StrictHostKeyChecking no
Compression yes
ForwardAgent yes
ControlMaster auto
ControlPath ~/.ssh/master-%r@%h:%p
Protocol 2

Host theplant
  HostName theplant.jp
  User theplant
Host delonghi
  HostName 218.45.229.54
  User delonghi
  Port 222
Host theplant-backup
  HostName 122.248.240.13
  User theplant
  Port 222
Host lacoste-dev
  User app
  HostName 175.41.251.74
  Port 222
Host lacoste1
  User app
  HostName 175.41.252.65
  Port 222
Host lacoste2
  User app
  HostName 175.41.242.254
  Port 222
Host lacoste3
  User app
  HostName 54.249.237.25
  Port 222
Host lacoste4
  User app
  HostName 54.249.237.24
  Port 222
Host lacoste5
  User app
  HostName 54.248.204.153
  Port 222
Host lacostedb
  User app
  HostName 54.249.254.127
  Port 222
Host lacoste-es-1
  HostName 54.95.87.113
  User app
  Port 222
Host lacoste-es-2
  HostName 54.199.110.174
  User app
  Port 222 
Host asics-dev
  User app
  HostName 79.125.17.184
Host asics1
  User app
  HostName 46.137.66.152
Host asics2
  User app
  HostName 46.137.46.173
Host danone-dev
  User app
  HostName 175.41.216.78
Host danone
  User app
  HostName localhost
  Port 9999
  ProxyCommand ssh middleman exec nc %h %p
Host middleman
  User ubuntu
  HostName middleman.theplant-dev.com
  Port 443
Host theplantvpn
  HostName theplant-vpn.theplant-dev.com
  User theplantvpn
Host qortex-payment
  HostName 54.199.22.150
  User app
Host work.github.com
  HostName github.com
  User git
Host aussie-dev
  HostName aussie-parking.theplant-dev.com
  Port 56222
  User app
Host youta
  HostName 121.42.141.171
  User youta
