ServerAliveInterval 10
ControlMaster auto
ControlPath ~/.ssh/master-%r@%h:%p

Host amn
            HostName ec2.joblet.jp
            User amn
            Compression yes
            Protocol 2
Host atom
            HostName ec2.joblet.jp
            User metropolis
            Compression yes
            Protocol 2
Host joblet
            HostName joblet.jp
            User joblet.jp
            Compression yes
            Protocol 2
Host piqshare
            HostName piqshare.com
            User piqshare
            Compression yes
            Protocol 2
Host dev3
            HostName dev3.asics.eu
            User asics
            Compression yes
            Protocol 2
Host dev2
            HostName dev2.asics.eu
            User asics
            Compression yes
            Protocol 2
Host theplant
            HostName theplant.jp
            User theplant
            Compression yes
            Protocol 2
Host smtp
            HostName 67.23.1.16
            User smtp
            Compression yes
            Protocol 2
Host delonghi
            HostName 218.45.229.54
            User delonghi
            Compression yes
            Port 222
            Protocol 2
Host theplant-backup
            HostName 122.248.240.13
            User theplant
            Compression yes
            Protocol 2
            Port 222
Host theplant-ci
            HostName 10.0.1.229
            User theplant
            Compression yes
            Protocol 2
            Port 222
Host lacoste-dev
            HostName 175.41.251.74
            User app
            Compression yes
            Protocol 2
Host lacoste1
            HostName 175.41.252.65
            User app
            Compression yes
            Protocol 2
            Port 222
Host lacoste2
            HostName 175.41.242.254
            User app
            Compression yes
            Protocol 2
            Port 222
Host lacoste3
            HostName 175.41.220.146
            User app
            Compression yes
            Protocol 2
            Port 22
Host asics-dev
            HostName 79.125.17.184
            User app
            Compression yes
            Protocol 2
Host asics1
            HostName 46.137.66.152
            User app
            Compression yes
            Protocol 2
Host asics2
            HostName 46.137.46.173
            User app
            Compression yes
            Protocol 2
Host danone-dev
            HostName 175.41.216.78
            User app
            Compression yes
            Protocol 2
Host danone
            User app
            HostName localhost
            Port 9999
            ProxyCommand ssh middleman exec nc %h %p

Host middleman
            User ubuntu
            HostName middleman.theplant-dev.com
            Port 443

Host qtb
            User qintaobao
            HostName qintaobao.com
